<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
      <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IIMS">
                    <reliableSession inactivityTimeout="12:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://secsm.ery.wo.tc:8082/IMS" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IIMS" contract="IIMS"
                name="NetTcpBinding_IIMS" />
        </client>
    </system.serviceModel>
</configuration>