<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, Warning, ActivityTracing" propagateActivity="True" >
        <listeners>
          <add name="HostLog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="HostLog"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="HostLog"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="IMSHostLog.svclog" />
    </sharedListeners>
  </system.diagnostics>
  
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="True"
           logMalformedMessages="True"
           logMessagesAtServiceLevel="True"
           logMessagesAtTransportLevel="True"
           maxMessagesToLog="3000" />
    </diagnostics>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding_IMS" transactionFlow="true">
          <reliableSession enabled="true" inactivityTimeout="12:00:00" ordered="true"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMS" transactionFlow="true" transactionProtocol="OleTransactions">
          <reliableSession enabled="true" inactivityTimeout="12:00:00" ordered="true"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="IMS.Server.Sub.WCFHost.Implement.Contract">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/IMS"/>
            <add baseAddress="net.tcp://localhost:8081/IMS"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/IMS"
                  binding="wsHttpBinding"
                  bindingConfiguration="WsHttpBinding_IMS"
                  contract="IMS.Server.Sub.WCFHost.Abstract.IIMS"/>
        <!--<endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>-->
        <endpoint address="net.tcp://localhost:8081/IMS"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IMS"
                  contract="IMS.Server.Sub.WCFHost.Abstract.IIMS"/>
        <!--<endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>-->
        <!-- Note that we're not explicitly enabling metadata in configuration, so 
             it's off by default. Instead of enabling mex in configuration, we'll add
             it imperatively by means of a custom class that derives from ServiceHost. -->
      </service>
    </services>
  </system.serviceModel>
</configuration>